.login-form {
  width: 300px;
  outline: 0;
  border: 1px solid rgb(209, 207, 207);
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
  padding-left: 10px;
}
.login-button {
  width: 150px;
}

label {
  font-size: 14px;
}
.signup-link {
  text-decoration: none;
}
